<header class="site-header" role="banner">
  <div class="left">
    <a href="/" class="anchor--unstyled">
      <img src="/assets/img/logo.svg"
           class="site-header__logo"
           width="26px"
           height="19px"
           alt="Astral Dynamics Logo"/>
      <h3 class="site-header__title">
        {{ site.title }}
      </h3>
    </a>
  </div>
  <div class="right">
    <nav class="site-nav">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
    </nav>
  </div>
</header>
