<section class="post-list">
  {% for post in site.posts %}
    <div class="post-preview" data-author="{{ post.author }}">
      <a href="{{ post.url }}" class="anchor--unstyled">
        <h2 class="post-preview__title">{{ post.title }}</h2>
      </a>
      <section class="post-preview__meta">
        {% include post-meta.html post=post %}
      </section>
      <p>
        {{ post.content | strip_html | truncatewords:45 }}
      </p>
      <a href="{{ post.url }}">
        <strong>Read Post &raquo;</strong>
      </a>
    </div>
    <hr />
  {% endfor %}

  {% if site.posts == empty %}
  <center>
    <p>We haven't written any blog posts yet!</p>
  </center>
  {% endif %}
</section>
