<nav class='site__nav'>
  {% assign current_page = page %}

  {% if page.url == "/" %}
  <a class='site__nav__link--current' href='/'>Blog</a>
  {% else %}
  <a class='site__nav__link' href='/'>Blog</a>
  {% endif %}

  {% for page in site.pages %}
    {% if page.is_nav %}
      {% if page.url == current_page.url %}
      <a class='site__nav__link--current' href='{{ page.url }}'>{{page.title}}</a>
      {% else %}
      <a class='site__nav__link' href='{{ page.url }}'>{{page.title}}</a>
      {% endif %}
    {% endif %}
  {% endfor %}
</nav>

