<section class="team-list grid">
  {% for entry in site.data.team %}
    {% assign name = entry[0] %}
    {% assign person = entry[1] %}

    <div class="column column--6 team-member" id="{{ name }}">
      <header class="team-member__header">
        {% if person.image %}
          <img class="team-member__thumbnail" src="{{ person.image }}" />
        {% else %}
          <div class="team-member__thumbnail"></div>
        {% endif %}
        <h2>{{ person.name }}</h2>
        <div class="team-member__role dim">{{ person.role }}</div>
      </header>
      <p class="team-member__bio">{{ person.bio }}</p>
    </div>
  {% endfor %}
</section>
