.post {

}

.post__header {

}

.post__content {

}

.post__title {

}

.post__meta {
  color: $slate-blue;
}

.post__meta__date {
  font-weight: bold;
  color: $stone-black;
}

.post__meta__author {
  text-decoration: none;
}
