@mixin site-width {
  width: 100%;
  max-width: $content-width;
  margin: 0 auto;
}

@mixin circle($diameter) {
  width: $diameter;
  height: $diameter;
  border-radius: 50%;
  text-align: center;
  line-height: $diameter;
  display: inline-block;
  background-color: $light-grey;
  background-image: url(/assets/img/logo-grey.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
}

@mixin column($width, $gutter:0) {
  float: left;
  padding: 0 $gutter;
  width: $width;
}

@mixin responsive-grid($divisions, $gutter:0) {
  .grid {
    overflow: hidden;
  }

  @for $i from 0 through $divisions {
    .column--#{$i} {
      $width: ($i / $divisions) * 100%;
      @include column($width, $gutter);
    }
  }

  @media only screen and (max-width: 600px) {
    .column {
      width: auto;
      float: none;
    }
  }
}

@mixin code {
  font-family: $monospace-font;
  background: $light-grey;
  font-size: 12pt;
}


