$astral-blue: #00509C;
$slate-blue:  #688294;
$ghost-grey:  #C0CCD8;
$stone-black: #1B2F3D;

$huge-space: 4em;
$large-space: 2em;
$medium-space: 1em;
$small-space: .4em;
$tiny-space: .2em;

$sans-font: 'Catamaran', sans-serif;

$content-width: 640px;
