$black: #1b1b1b;
$white: hsl(0, 0%, 100%);
$light-grey: #ececec;
$medium-grey: hsl(0, 0%, 43%);
$dark-grey: hsl(0, 0%, 35%);

$heading-large: 40pt;
$heading-medium: 25pt;
$heading-small: 20pt;

$subheading-large: 20pt;
$subheading-medium: 18pt;
$subheading-small: 15pt;

$text-small: 17px;
$text-medium: 20px;
$text-large: 32px;

$sans-font: "Catamaran", sans-serif;
$heading-font: "Alegreya Sans", sans-serif;
$serif-font: "Alegreya", sans-serif;
$monospace-font: "Inconsolata-g for Powerline", monospace;

$content-width: 820px;
$footer-height: 50px;

$base-color: hsl(223, 25%, 35%);
$palette-one: $base-color;
$palette-two: darken($palette-one, 15%);
$palette-three: adjust-hue($base-color, 21);
$palette-four: darken($palette-three, 15%);
$palette-five: adjust-hue($base-color, 320);
$palette-six: lighten($palette-five, 15%);

