.post-list {
  font-family: $sans-font;
}

.post-preview {

}

.post-preview__title {

  &:hover {
    color: $medium-grey;
  }
}

.post-meta {
  font-size: $text-medium;
  word-spacing: 2pt;
}

.post-list .post-meta {
  font-size: $text-small;
}
