.site-nav {
  word-spacing: 1em;
  font-size: $text-small;

  a {
    text-decoration: none;
    font-weight: 200;
  }

  a:hover {
    border-bottom: solid 1px $medium-grey;
    color: $medium-grey;
  }
}

@media only screen and (max-width: 420px) {
  .site-header__title {
    display: none;
  }
}
