.team-list {
  margin-top: $huge-space;
}

.team-list__item {
  margin-bottom: $huge-space;
}

.team-list__item__name {
  color: $stone-black;
}

.team-list__item__role {
  color: $slate-blue;
  font-weight: bold;
}

.team-list__item__bio {

}
