.team-list {
  margin: 1em 0;
}

.team-member {
  padding: 1em;
}

.team-member__header {
  text-align: center;
}

.team-member__thumbnail {
  @include circle(6em);
}

.team-member__role {
  font-size: $text-small;
}

.team-member__bio {
}

