input, textarea {
  font-family: $sans-font;
  font-size: $text-medium;
  border: 0;
  border-radius: .1em;
  padding: .2em .4em;
  background: $light-grey;
}

textarea {
  font-size: $text-small;
}

input[disabled] {

}

form input, form textarea {
  width: 100%;
}

form.grid .column {
  margin-bottom: 1em;
}
