body {
  margin: 0 0 $footer-height;
  padding-bottom: 1em;
}

.site-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: $footer-height;
  height: $footer-height;
  width: 100%;
  background: $light-grey;
  color: $medium-grey;
  text-align: center;
}

.site-footer a {
  font-weight: bold;

  &:hover {
    color: $dark-grey;
  }
}

