body {
  margin: 0 0 $footer-height;
  padding-bottom: 4em;
}

.site-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  background: $light-grey;
  color: $medium-grey;
  text-align: center;
  padding: 2.5em 1em;
}

