body {
  margin: 0 0 $footer-height;
  padding-bottom: 1em;
}

.site-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: $footer-height;
  width: 100%;
  background: $light-grey;
  color: $medium-grey;
  text-align: center;
  padding-top: .75em;
}

.site-footer a {
  color: $dark-grey;

  &:hover {
    color: $medium-grey;
  }
}

