.site-header {
  min-height: 3em;
  line-height: 3em;
  padding: 0 .8em;
  overflow: hidden;
}

.site-header .left {
  float: left;
}

.site-header .right {
  float: right;
}

.site-header__title {
  display: inline-block;
  margin-left: 4px;
}

