code {
  @include code;
  padding: .2em;
}

.highlight {
  @include code;
  margin: 0;
  padding: .8em;
  border-radius: 4px;
  overflow-x: scroll;
  text-align: left;

  pre {
    margin: 0;
  }

  code {
    padding: 0;
  }
}

pre {
  max-width: $content-width;
}

blockquote {
  margin: 0;
  font-style: italic;
  border-left: 4px solid $dark-grey;
  padding-left: .8em;
}

.footnotes {
}

table {
  border-collapse: collapse;
}

tbody, td {
}

thead, th {
}

th, td {
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    font-style: italic;
  }
}

hr {
  height: 0;
  border: 0;
  border-bottom: solid 2px $light-grey;
  margin: 1em 0;
}
